<div class="progress-bar">
    <h3>Progress</h3>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <div class="male-sec" fxLayout="row">
        <div fxFlex="80" class="user-table">
            Male Users
        </div>
        <div fxFlex="20" class="progess-sec">
            2
        </div>
    </div>
    <div class="female-sec" fxLayout="row">
        <div fxFlex="80" class="user-table">
            Female Users
        </div>
        <div fxFlex="20" class="progess-sec">
            2
        </div>
    </div>
</div>